<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pera Count</name>
    <description>
        A sample Application that help to count the vehicles in a survey
    </description>
    <author email="titus.nandakumara@gmail.com" href="http://brainstacks.wordpress.com">
        Titus Nanda Kumara
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />

    <plugin name="Storage" value="org.apache.cordova.Storage" />
	<plugin name="File" value="org.apache.cordova.FileUtils" />
	<plugin name="FileTransfer" value="org.apache.cordova.FileTransfer" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="orientation" value="portrait" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <!-- for Android -->
    <feature name="Toast">
      <param name="android-package" value="nl.xservices.plugins.Toast" />
    </feature>
    
</widget>
